
.boton-eliminar {
    font-size: 20px;
    text-align: center;
    width: 100px;
    
}
.card-body h3 {
    font-size: 15px;
}
.card-body h2 {
    font-size: 20px;
}

.card-Item  {
    width: 300px;
    margin: 20px;
}

.card-ItemL img {
    width: 450px;
    margin: 5px;
    
}
